/*******************************************************************

    Module        : /assets/css/default.css
    Desc.         : CSS Default Configuration
    Created By    : Siau Pheng (siaupheng@3fonia.com).
    Created Date  : December 20th, 2007.
    Last Modified : April 22nd, 2022.

    (c) 2009 - 2022, 3FONIA Software; WWW.3FONIA.COM.

*******************************************************************/

:root {/* ok */
  --cui-body-font-size: .95rem;
  --cui-card-color: #000;
  /*--cui-body-font-weight: 400;
  --cui-body-line-height: 1.5;
  --cui-body-color: rgba(44, 56, 74, 0.95);
  --cui-body-bg: #fff;*/
}

.toast {/* ok */
  width: unset !important;
  font-size: .95rem !important;
}

table.dataTable.table-bordered th, table.dataTable.table-bordered td {/* ok */
    border-width: 0 1px !important;
}
table.dataTable.table-bordered th {/* ok */
    font-size: 105%;
    background-color: var(--cui-gray-100, #ACACAC) !important;
    border-top-width: 1px !important;
    border-bottom-width: 1px !important;
}
table.dataTable.table-bordered tr:last-child td {/* ok */
    border-bottom-width: 1px !important;
}
table.dataTable a.fon-tabel-dt i {/* ok */
    padding-top: 2px;
    width: 1.5rem !important;
    height: 1.5rem !important;
    border: 0.15em solid white;
    border-radius: .7em;
    box-shadow: 0 0 0.2em #444;
    background-color: #31b131;
}
table.dataTable tr.dt-hasChild a.fon-tabel-dt i {/* ok */
    background-color: #d33333;
}
table.dataTable a.fon-tabel-dt:hover i, table.dataTable tr.dt-hasChild a.fon-tabel-dt:hover i {/* ok */
    color: unset;
}

.card-header.custom-style {/* ok */
    padding: .5rem 1.25rem;
    background-color: #ced2d8 !important;
    text-align: center !important;
    color: #fff !important;
    font-weight: 600;
    font-size: 1rem;
}
.table-hover tbody tr:hover, .table-hover tbody tr:active { background-color: var(--cui-yellow, #ff9); }/* ok */
.table-select tbody tr { cursor: pointer }
textarea { overflow-x: hidden }
input[type="checkbox"][readonly] {
    pointer-events: none;
}
div.body {/* ok */
    background-color: #ebedef;
}
a.nav-link, a.slink, a.mlink , a.table-icon{ cursor: pointer; }
a.table-icon {/* ok */
    text-decoration: none;
    padding: 0 6px;
}
a.table-icon:hover i {/* ok */
    color: red;
}
button.tbl-rowbtn {/* */
    padding: .1rem .5rem;
}
button.tbl-rowbtn:hover {/* ok */
    color: #fff;
    background-color: var(--cui-primary, #39f);
}
button.tbl-rowbtn.normal {/* */
    background-color: var(--cui-cyan, #93E3FF);
}
.input-group-text {/* ok */
    box-shadow: none !important;
    padding-top: 0;
    padding-bottom: 0;
}
.icon-tooltip { color: var(--warning); }

/* navi menu */

.header-nav .nav-link {/* ok */
    padding-left: 1.25rem !important;
}
.header-nav .dropdown-menu.multi-level {/* ok */
    margin-top: .15rem !important;
}
.header-nav .dropdown-toggle:after {/* ok */
    border-width: .4em .4em 0 .4em;
    margin-left: .5rem !important;
    border-top-color: rgba(44, 56, 74, 0.681);
}
.header-nav .dropdown-submenu {/* ok */
    position: relative;
}
.header-nav .dropdown-submenu>.dropdown-menu {/* ok */
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.header-nav .dropdown-submenu:hover>.dropdown-menu {/* ok */
    display: block;
}
.header-nav .dropdown-submenu>a:after {/* ok */
    float: right;
    border-color: transparent;
    border-style: solid;
    border-width: .4em 0 .4em .4em;
    border-left-color: rgba(44, 56, 74, 0.681);
    margin-top: 5px;
}
.header-nav .dropdown-submenu:hover {/* ok */
    background-color: #ebedef;
}
.header-nav .dropdown-toggle.slink:after {/* ok */
    margin-left: auto;
}
.header-nav .dropdown-menu {/* ok */
    max-height: 90vh !important;
    /*overflow-y: auto;*/
}

.modal-dialog.modal-fs {/* ok */
    width: 90vw;
    max-width: unset;
}
.modal-header button.btn-cetak { margin-left: .5rem; }
.modal-header button.btn-cetak:hover {
    color: var(--light);
    background-color: var(--info);
}
@media(max-width:1199.98px) {
    .modal-header button.btn-cetak span {display: none!important;}
    .modal-header button.btn-cetak {
        padding: 0;
        background-color: transparent;
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none !important;
    }
}
@media(min-width: 576px) {
    .modal-400 { max-width: 400px; }
    .modal-500 { max-width: 500px; }
}

@media (max-width: 991.98px) {/* ok */
    .header-nav .dropdown-menu { width: 200px !important; }
    button.tbl-rowbtn {
        margin-bottom: .25rem;
    }
}

@media (min-width: 992px) {/* ok */
    .header-nav .dropdown-menu { width: 250px !important; }
    .wrapper {
        padding-left: 0 !important;
    }
    .table thead th {
        text-align: center !important;
        font-weight: 600 !important;
    }
}

div.dataTables_wrapper div.toolbar {/* ok */
    padding-top: 0 !important;
    margin: 2px 0;
}
div.dataTables_length select.form-select {/* ok */
    margin: 2px 0;
}

table>tbody tr.rsuccess td:not(:last-child) { background-color: var(--cui-success); }
table>tbody tr.rred td:not(:last-child) { background-color: var(--cui-red); }
table>tbody tr.rgreen td:not(:last-child) { background-color: var(--cui-green); }
table>tbody tr.ryellow td:not(:last-child) { background-color: var(--cui-yellow); }
table>tbody tr.rblue td:not(:last-child) { background-color: var(--cui-blue); }
table>tbody tr.rpurple td:not(:last-child) { background-color: var(--cui-purple); }
table>tbody tr.rcoret td:not(:last-child) { background-color:#F9B5B7; text-decoration: line-through; }

/* compatible, delete next ! 
table * .bold { font-weight: bold !important; }
table * .left { text-align: left !important; }
table * .right { text-align: right !important; }
table * .center { text-align: center !important; }
table * .wrap { white-space: normal !important; }
table * .nowrap { white-space: nowrap !important; }
table * .autowrap { white-space: nowrap !important; max-width: 300px; overflow: hidden; text-overflow: ellipsis; }
table * .hidden { visibility: hidden !important; display: none !important; }*/

table * .b { font-weight: bold !important; }
table * .l { text-align: left !important; }
table * .r { text-align: right !important; }
table * .c { text-align: center !important; }
table * .wr { white-space: normal !important; }
table * .nwr { white-space: nowrap !important; }
table * .awr { white-space: nowrap !important; max-width: 300px; overflow: hidden; text-overflow: ellipsis; }
table * .hid { visibility: hidden !important; display: none !important; }
table * .nb { border: 0 !important; }

ul.dtr-details li.hidden { visibility: hidden !important; display: none !important; }

/******************************** Autocomplete ********************************/

.bs-fonac .dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}

.bs-fonac .dropdown-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: .5rem .8rem;
    clear: both;
    font-size: .9rem;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: #000
}

.bs-fonac .dropdown-item:hover, .bs-fonac .dropdown-item:focus {
    text-decoration: none;
    color: #fff;
    background-color: #ebedef
}

.bs-fonac .dropdown-item.active, .bs-fonac .dropdown-item:active {
    text-decoration: none;
    color: #fff;
    background-color: #321fdb
}

.bs-fonac .dropdown-item.disabled, .bs-fonac .dropdown-item:disabled {
    pointer-events: none;
    background-color: transparent;
    color: #8a93a2
}

/******************************** text field ********************************/

input.double, input.integer, input.number {
    text-align: right;
}

/******************************** Preloader ********************************/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}