/*******************************************************************

    Module        : /assets/css/print.css
    Desc.         : CSS Class for Preview & Printing
    Created By    : Siau Pheng (siaupheng@3fonia.com).
    Created Date  : October 7th, 2008.
    Last Modified : November 24th, 2020.

    (c) 2008 - 2020, 3FONIA Software; WWW.3FONIA.COM.

*******************************************************************/

@media print {
    *,
    *::before,
    *::after {
        text-shadow: none!important;
        box-shadow: none!important
    }
    a:not(.btn) {
        text-decoration: underline
    }
    abbr[title]::after {
        content: " (" attr(title) ")"
    }
    pre {
        white-space: pre-wrap!important
    }
    pre, blockquote {
        border: 1px solid #9da5b1;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr, img {
        page-break-inside: avoid
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3
    }
    h2, h3 {
        page-break-after: avoid
    }
    body, .container {
        font-size: 1em;
        font-weight: normal;
        line-height: 1;
        color: #000;
        background-color: #fff;
    }
    .navbar { display: none; }
    .badge {
        border: 1px solid #000015
    }
    .table {
        border-collapse: collapse!important
    }
    .table td, .table th {
        background-color: #fff!important
    }
    .table-bordered th, .table-bordered td {
        border: 1px solid #c4c9d0!important
    }
    .table-dark {
        color: inherit
    }
    .table-dark th, .table-dark td, .table-dark thead th, .table-dark tbody+tbody, .table .thead-dark th {
        border-color: #d8dbe0
    }
    .table .thead-dark th {
        color: inherit
    }

    div.wrapper, div.sidebar, div.modal, div.modal-backdrop, div.lightbox, div.lightboxOverlay { display: none !important; }
}